
*.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.iml
*.log
*.sw*
.DS_Store
.cxx
.cxx/
.externalNativeBuild
.gradle
.gradle/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.navigation/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
bin/
build/
captures/
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
out/
proguard/
vcs.xml
